*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

body {
  block-size: 100%;
  inline-size: 100%;
  background-color: rgb(138, 226, 160);
}

.app-container {
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: 1024px;
  padding: 30px 20px 30px 20px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 190, 133);
}

.page-title {
  margin-block-end: 20px;
}

.header {
  inline-size: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.chose-buttons-holder {
  border-radius: 10px;
  inline-size: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.chose-button {
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightblue;
  padding: 20px;
  text-align: center;
}

.param-form-holder {
  padding: 15px 20px 15px 20px;
}

.main-section {
  inline-size: 100%;
  block-size: 100%;
}

.get-photo-button {
  border: 1px solid black;
  border-radius: 10px;
  inline-size: auto;
  block-size: 30px;
  margin: auto;
}

.card-list {
  border: 1px solid black;
  list-style-type: none;
  inline-size: 100%;
  block-size: auto;
  margin: auto;
  border-radius: 10px;
  background-color: lightblue;
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card-list-item {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: darkorange;
  inline-size: calc(33% - 10px);
  min-block-size: 200px;
  border: 1px solid black;
  box-sizing: border-box;
}

.photo-holder {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.meta-information {
  align-self: flex-start;
  font-style: italic;
  background-color: darkorange;
  inline-size: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.photo-explanation {
  display: none;
}

.information-popup {
  display: none;
}
